/*ALL PAGES*/

html {
	min-width: 60%;
	max-width: 100%;
	min-height: 200px;
	max-height: 400px;
	background-color: #0249fc;
}

body {  
	font-size: 1em;
}

#background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	font-family: 'Titillium Web', sans-serif;
	overflow: hidden;
	font-size: 1em;
	color: #6666FF;
	letter-spacing: 1px;
}

h3 {
	color: lightblue;
	font-family: 'Titillium Web', sans-serif;
	font-size: 2em;
}

figcaption {
		font-family: 'Average Sans', sans-serif;
		font-size: 1em;
		color: white;
		text-shadow: 1px 1px 1px #111;
		margin-top: -1px;
		letter-spacing: 1px;
}

	#pbar_outerdiv {
		position: absolute;
		background-color: white;
		z-index: 2; 
		top: 150px;
		right: 50px;
		width: 400px; 
		height: 30px; 
		border: 3px solid lightgray; 
		border-radius: 7px; 
		-moz-border-radius: 7px;
	}

	#pbar_innerdiv {
		 background-color: red; 
		 z-index: 3; 
		 height: 100%; 
		 font-size: 1em;
		 width: 0%;
		 margin: 0px;
		 padding: 1px;
	}

	#pbar_innertext {
		 z-index: 4; 
		 position: absolute; 
		 top: 5px; left: 0; 
		 width: 100%; 
		 height: 100%; 
		 color: black; 
		 font-family: arial; 
		 text-align: center;
		 font-size: 1em;
	}

p {
	font-size: 1em;
}

li {
	float: left;
	list-style-type: none;
	text-align: center;
	font-size: 1em;
	padding-bottom: 9px;
	margin-left: 0;
	padding-left: none;
	color: black;
}

map title {
	color: white;
}

.invisible {
    display: none;
    visibility: hidden;
    opacity: 0;
   transition: opacity .75s ease-in-out;
   -moz-transition: opacity .75s ease-in-out;
   -webkit-transition: opacity .75s ease-in-out;
}

.visible {
	display: block;

}

.invisible-page {
    display: none;
    visibility: hidden;
    opacity: 0;
   transition: opacity .75s ease-in-out;
   -moz-transition: opacity .75s ease-in-out;
   -webkit-transition: opacity .75s ease-in-out;
}

.visible-page {
	display: block;
}

#end-screen {
    position: absolute;
    text-align: center;
   	top:0;
   	left:0;
    height: 200%;
   	width: 100%;
    padding: 100px auto;
    z-index: 1002;
    background-color: rgba(0,0,0,0.8); 
    letter-spacing: 0.08em; 
}

#play-again-btn {
	position: relative;
	margin-top: 25px;
	font-size: 1em;
}

.end-buttons {
	background-color: lightblue;
	display: inline-block;
	padding: 11px 10px 15px;
	margin-right: 10px;
	color: #222;
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

#wrong-guess, #correct-guess {
	padding: 10% 20% 0% 20%;
	font-size: 2em;
	color: white;
}


/* HOME PAGE*/

#intro-video {
	position: absolute;
	top: 250px;
	left: 300px;
	clear: both;
	z-index: 1000;
}
	#instructions {
		position: absolute;
		top: 300px;
		left: 485px;
		z-index: 10;
	}

#home-logo {
	position: absolute;
	top:0;
	left:0;
	z-index: 1001;
}

#home-nav {
	position: absolute;
	top: 350px;
	left: 0px;
	min-width: 75%;

}
	.home-grouping {
		position: relative;
		width: 135px;
		opacity: 0.6;
		filter:alpha(opacity=40); /* For IE8 and earlier */
	}

	.home-grouping:hover{
		opacity:1;
		filter:alpha(opacity=40); /* For IE8 and earlier */
	}

	.home-grouping img:first-child {
		  border: solid 4px #FFF;
	}


/*CHARACTER PAGES*/

#logo {
	position: absolute;
	top: 0px;
	left: 30px;
}

#nav-folders {
	position: absolute;
	top: 15px;
	right: 50px;
	max-width: 65%;
	min-width: 65%;
} 

	li {
		float: right;
		margin-left: 5%;
	}
	
	.files {
		position: absolute;
		top: 300px;
		left: 30px;
	}

	.bio {
		position: absolute;
		top: 300px;
		left: 450px;
	}

	.video-clue {
		position: absolute;
		top: 300px;
		right: 30px;
	}

	audio {
		position: absolute;
		top: 550px;
		right: 30px;
	}




